html {
  --accent: #8b42cd;
  --secondary: #36b7c3;
  --tertiary: #ff7245;
  --header-text: #fff;
  --body-text: #000;
  --background-0: #222024;
  --background-1: #bd8de9;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: var(--body-text);
  background-color: var(--background-0);
}

header,
footer {
  color: var(--header-text);
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.post {
  background-color: #fff;
  border-bottom: 8px solid var(--secondary);
  margin: 16px 0;
  padding: 4px 6px;
  max-width: 720px;
  width: 100%;
}
