<!DOCTYPE html>
<html>
  <head>
    <title>{{Title}}</title>
    {{#if Description}}
    <meta name="description" content="{{Description}}" />
    {{/if}}
  </head>
  <body>
    {{Content}}
  </body>
</html>